<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soco.car.car.dao.CarTypeMapper">
  <resultMap id="BaseResultMap" type="com.soco.car.car.entity.CarType">
    <id column="carTypeCode" jdbcType="VARCHAR" property="carTypeCode" />
    <result column="carTypeName" jdbcType="VARCHAR" property="carTypeName" />
    <result column="opt" jdbcType="VARCHAR" property="opt" />
    <result column="value" jdbcType="DOUBLE" property="value" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    carTypeCode, carTypeName, opt, value, createTime, updateTime
  </sql>
  <select id="selectByExample" parameterType="com.soco.car.car.entity.CarTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ts01_car_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ts01_car_type
    where carTypeCode = #{carTypeCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ts01_car_type
    where carTypeCode = #{carTypeCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.soco.car.car.entity.CarTypeExample">
    delete from ts01_car_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.soco.car.car.entity.CarType">
    insert into ts01_car_type (carTypeCode, carTypeName, opt, 
      value, createTime, updateTime
      )
    values (#{carTypeCode,jdbcType=VARCHAR}, #{carTypeName,jdbcType=VARCHAR}, #{opt,jdbcType=VARCHAR}, 
      #{value,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.soco.car.car.entity.CarType">
    insert into ts01_car_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carTypeCode != null">
        carTypeCode,
      </if>
      <if test="carTypeName != null">
        carTypeName,
      </if>
      <if test="opt != null">
        opt,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carTypeCode != null">
        #{carTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="carTypeName != null">
        #{carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="opt != null">
        #{opt,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.soco.car.car.entity.CarTypeExample" resultType="java.lang.Long">
    select count(*) from ts01_car_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ts01_car_type
    <set>
      <if test="record.carTypeCode != null">
        carTypeCode = #{record.carTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.carTypeName != null">
        carTypeName = #{record.carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.opt != null">
        opt = #{record.opt,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=DOUBLE},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ts01_car_type
    set carTypeCode = #{record.carTypeCode,jdbcType=VARCHAR},
      carTypeName = #{record.carTypeName,jdbcType=VARCHAR},
      opt = #{record.opt,jdbcType=VARCHAR},
      value = #{record.value,jdbcType=DOUBLE},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.soco.car.car.entity.CarType">
    update ts01_car_type
    <set>
      <if test="carTypeName != null">
        carTypeName = #{carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="opt != null">
        opt = #{opt,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where carTypeCode = #{carTypeCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soco.car.car.entity.CarType">
    update ts01_car_type
    set carTypeName = #{carTypeName,jdbcType=VARCHAR},
      opt = #{opt,jdbcType=VARCHAR},
      value = #{value,jdbcType=DOUBLE},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where carTypeCode = #{carTypeCode,jdbcType=VARCHAR}
  </update>
</mapper>